body {
  font-family: Arial, sans-serif;
  background-color: #272793;
  margin: 0;
  padding: 100px;
}

.container {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
    font-size: 25px ;
    text-align: left;
    color: #333;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input[type="file"] {
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #272793;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#quiz-container {
  margin-top: 30px;
}

/* .question {
  margin-bottom: 20px;
}

.question h3 {
  margin-bottom: 10px;
} */